
<%- include('../partials/header') %>

  <h1>Add a Horror Movie</h1>
  <form action="/movies" method="POST">
    <label for="name">Movie Title</label>
    <input type="text" name="name" id="name">
    <label for="description">Add a Description</label>
    <textarea name="description" id="description"></textarea>
    <label for="image">Add an Image</label>
    <input type="text" name="image" id="image"/>
    <button type="submit">Add Horror Movie</button>
  </form>
<%- include('../partials/footer') %>